h1, h2, h3 {
  font-family: 'iA Writer Duospace', sans-serif;
  font-weight: bold;
  margin: 1em 0;
}

body {
  /* font-family: 'Segoe UI', Roboto, Oxygen, BlinkMacSystemFont, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 26px;
  border-bottom: 1px solid #0004;
}

h2 {
  font-size: 22px;
  border-bottom: 1px solid #00000038;
}

h3 {
  font-size: 16px;
  position: relative;
}

h3::before {
  content: "• ";
  position: absolute;
  left: -0.7em;
  color: #0005;
  font-size: 1.5rem;
}

a {
  color: #000A;
  text-decoration-color: #0007;
  text-decoration: underline;
}

strong {
  font-weight: 400;
}

blockquote {
  font-size: 14px;
  border-left: 3px solid #0004;
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.035);
  border-radius: 0.5rem;
  margin: 0.8rem 0 0 0;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

table > thead > tr > th {
  border-bottom: 0;
}

li > p {
  margin: 0.5rem 0;
}

/* Info about work */
h3 + p {
  color: #0009;
  margin-top: -1rem;
}
/* Techs */
h3 + p + p {
  margin-bottom: 0;
}
/* Projects */
h3 + p + p + p {
  margin-top: 0;
}

table {
  background-color: rgba(0,0,0,0.035);
  border-radius: 0.5em;
}
table > tbody > tr + tr > td {
  border-top: 3px solid #00000035;
}
table > tbody > tr > td + td {
  border-left: 3px solid #00000035;
}
table > thead > tr > th {
  padding-top: 0;
  padding-bottom: 0;
}