html {
  --color-gray: rgba(0,0,0,0.05);
  --font-family-system: 'Segoe UI', Roboto, Oxygen, BlinkMacSystemFont, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-titles: 'iA Writer Duo S', sans-serif;
} 

body {
  font-family: var(--font-family-system);
  /* font-family: 'iA Writer Duo S', sans-serif; */
  /* font-family: Roboto, sans-serif; */
}

h1, h2, h3 {
  font-family: var(--font-family-titles);
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  /* padding-bottom: 0.3em; */
}

h1 {
  font-size: 26px;
  border-bottom: none;
  margin-top: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 22px;
  position: relative;

  &:after {
    /* border-bottom: 2px solid var(--color-gray); */
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-gray);
  }
}

h3 {
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

h3 > em {
  font-family: var(--font-family-system);
  font-size: 0.9em;
  font-weight: 400;
  color: #0007;
  margin-left: auto;
}

ul:has(h3) {
  padding-left: 0;
}
li:has(h3) {
  list-style-type: none;
}
li > h3:before {
    content: "• ";
    position: absolute;
    left: -0.7em;
    color: #0005;
    font-size: 1.5rem;
}

a {
  color: #000A;
  text-decoration-color: #0007;
  text-decoration: underline;
  text-decoration-color: #0004;
}

strong {
  font-weight: 500;
}

blockquote {
  font-size: 15px;
  border: 2px solid #0001;
  padding: 0.7rem;
  background-color: var(--color-gray);
  border-radius: 0.5rem;
  margin: 0.8rem 0 0 0;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

a:not(.hljs) > code {
  color: #000A;
  font-weight: 600;
}

code {
  color: #000A;
  background-color: #0001;
  padding: 0.15em 0.2em;
  border-radius: 0.3em;
  font-weight: 500;
}

p {
  margin: 0.5rem 0;
}

table > thead > tr > th {
  border-bottom: 0;
}

ul {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

li > p {
  margin: 0.5rem 0;
}

/* Info about work */
h3 + p {
  display: flex;
  justify-content: space-between;
  color: #0009;
  margin-top: -1rem;
}
/* Techs */
h3 + p + p {
  margin-bottom: 0.5em;
}
/* Projects */
h3 + p + p + p {
  margin-top: 0.5em;
}

table {
  font-size: 12px;
  background-color: var(--color-gray);
  border-radius: 0.5em;
  width: 100%;
  vertical-align: top;

  &:last-child {
    margin-top: 2rem;
    font-size: 16px;

    & td {
      padding: 1rem;
    }
  }

  & > tbody > tr + tr > td {
    border-top: 3px solid  var(--color-gray);
  }

  & > tbody > tr > td + td {
    border-left: 3px solid var(--color-gray);
  }

  & > thead > tr > th {
    padding-top: 0;
    padding-bottom: 0;
  }
}